html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.borderclass {
  border: 1px solid black;
}

.header__link {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  margin: 20px 0px;
}

.card__image {
  margin-right: 20px;
}

.card__header {
  margin: 20px 20px 0px 20px;
}

.card__body {
  margin: 20px 20px 0px 20px;
}

.header__content {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page__wrapper {
  max-width: 800px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.snippet__wrapper {
  height: 200px;
  width: 100%;
  margin: 20px 0px;
}

.homepage__headerwrapper {
  min-height: 400px;
  margin: 10px 0px;
  width: 100%;
  border: 1px solid blue;
}
